#header{
    width: 100%;
    height: 10%;
    background-color: #24132F;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
    padding-top: 3em;
    z-index: 100;

}

#logo-header{
    display: flex;
    justify-content: space-around;
}

.logo{
    width: 40%;
}

.logo-img{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items:flex-start;
}

.logo-menu{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items:flex-start;
  margin-right: 7em;
}

.snitch-img{
  width: 30%;
  height: 30%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items:flex-start;
  }

  .menu-categories{
    align-items: center;
    width: 6.5em;
  }

  .menu-categories li>a{
    background-color: #24132F;
    color: #E2A826;
    display: block;
    text-decoration: none;
    width: 6.5em;
  }
  
  .menu-categories li>a:hover{
    color: #E2A826;
    background-color: #700B97;
  }

  .menu-categories>li{
    float: left;
    text-align: center;
    justify-content: center;
    height: 3.5em;
  }

  .menu-categories>li>ul{
    display: none;
  }

  .menu-categories>li:hover>ul {
    display:block;
    background-color: #700B97;
  }

  .menu-subcategories{
    padding: 7px 3px;
    background-color: #24132F;
  }

  .menu-subcategories:hover{
    padding: 7px 3px;
    background-color: #700B97
  }

.button-cart{
    width: 3.5em;
    height: 3.5em;
    background-color: #24132F ;
    background-image: url(../img/carrito.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    align-items: center;
    margin-left: 5px;
}

.button-cart:hover{
  background-color: #700B97;
}