#header{
    width: 100%;
    height: 10%;
    background-color: #24132F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-header{
    display: flex;
    justify-content: center;
}

.logo{
    width: 40%;
}

#menu-header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 15%;
}

ul{
    list-style: none;
  }

  .menu-categories li>a{
    background-color: #3E065F;
    color: #E2A826;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
  }
  
  .menu-categories li>a:hover{
    color: #E2A826;
    background-color: #700B97;
  }

  .menu-categories>li{
    float: left;
    text-align:center
  }

  .menu-categories>li>ul{
    display: none;
  }

  .menu-categories>li:hover>ul {
    display:block;
  }

/*
------------------------------------------------
*/
.button-cart{
    width: 2.7em;
    height: 2.7em;
    background-color: #24132F ;
    background-image: url(../img/carrito.png);
    padding: 3px;
    border-radius: 5px;
    align-items: center;
}