.banner{
    max-width: 100%;
    height: auto;
}
#newsletter_container{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.newsletter{
    color: goldenrod;
    text-align: center;
    font-size: 20px;
    }
.email_box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
}
.subscribe_button{
    width: 5%;

    
    }
