.itemscontainer {
    padding-top: 5.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.items {
    padding-top: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15em;
    height: 15em;
    background-color: rgba(255, 255, 255, 0.15);
    justify-content: center;
    border-radius: 7%;
}

.items:hover{
    cursor: pointer;
    border-radius:5%;
    box-shadow: 0em 0em 1em 1em silver;
    -webkit-box-shadow: 0em 0em 0.8em 0.2em silver;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.itemtitle {
    font-size: 1.1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: goldenrod;
    text-align: center;

}

.price {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.08em;
    padding-top: 0.5em;
    color: goldenrod;
    text-align: center;
}

.photo {
    width: 10em;
    height: 10em;
}

.back-btn {
    display: flex;
    text-align: right;
    justify-content: right;
    color: goldenrod;
    margin: 2em 3em 0em 0em;
}