#product {
    display: flex;
    align-content: row;
    margin-top: 5em;
}

#product__img--container {
    display: flex;
    flex-direction: column;
    margin-left: 7em;
    
}

#product__img--front {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    width: 50%;
}


#product__img--reverse {
      width: 10%;
      border: solid goldenrod;
      border-radius: 15px;
      
}

#product__img--detail {
    width: 10%;
    border: solid goldenrod;
    border-radius: 15px;
}


#product__info--text {
    color: white;

}

/*#product__info--text {
    display: flex;
    justify-content: flex-end;
    
}*/

#product__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 7em;
    width: 30%;
}

.related-products{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    box-sizing: content-box;
    margin: 5em 0em 5em 0em;   
}

.products{
    width: 16em;
    height: 16em;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-sizing: border-box;
}

.product-img{
    width: 14em;
    height: 14em;
}

.product-name{
    color: #E2A826;
    display: none;
}

.products:hover{
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
}
.product-name:hover{
    position: absolute;
    display:block;
    text-align: center;
    font-size: 4em;
    z-index: 2;
}

#like__button {
    cursor: pointer;
    width: 50%;
    height: 3em;
    background-color: indigo;
    border:none;
    color: white
}

#like__button:hover {
    cursor: pointer;
    border-radius:5%;
    box-shadow: 0px 0px 15px 15px silver;
    -webkit-box-shadow: 0px 0px 15px 15px silver;
}

#cart__button {
    width: 50%;
    height: 3em;
    background-color: indigo;
    border:none;
    color: white
}

#cart__button:hover {
    cursor: pointer;
    border-radius:5%;
    box-shadow: 0px 0px 15px 15px silver;
    -webkit-box-shadow: 0px 0px 15px 15px silver;
}

#like__button--img {
    width: 15%;
    height: 70%;
}

#cart__button--img {
    width: 15%;

}