body {
    background-image: url(/img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

#categories {
    display: flex;
    justify-content: space-around;
}

.img__categories {
    width: 20%;
    
}

    .banner{
    max-width: 100%;
    height: auto;
}